<!--Formulario de Editar Produto-->
<div>
  <form [formGroup]="addProductForm" (ngSubmit)="handleSubmitAddProduct()">
      <div class="card flex flex-column md:flex-column gap-3 ">
        <!--Nome Do Produto -->
        <input pInputText placeholder="Nome" formControlName="name"/>
        <!--Categoria do Produto-->
        <p-dropdown
        styleClass="w-full"
        [options]="categoriesDatas"
        [(ngModel)]="selectedCategory"
        optionLabel="name"
        oprtionValue="id"
        placeholder="Escola uma Categoria"
        formControlName="category_id"
        >
        </p-dropdown> <!--o dropdown consegue fazer aquele campo de procura-->
        <!-- Preço do Produto-->

        <input pInputText placeholder="Preço" formControlName="price"/>

        <!--Descição do produto-->
        <input pInputText placeholder="Descição" formControlName="description"/>

        <!--Quantidade de um Produto-->

        <input pInputText placeholder="Quantidade" formControlName="amount"/>
        <div class="flex flex-row justify-content-center align-content-center align-items-center m-1">
          <!--So continuará adicionando se o usuario preencher o formulário-->
          <p-button
          [disabled]="!addProductForm.valid"
          type="submit"
          label="Concluir"
          
          >

          </p-button>
        </div>
      </div>
  </form>
</div>
